.apresentacao {
    background-image: var(--bg-apresentacao);
    background-size: 300% 300%;
    height: 92vh;
    font-size: 18px;
    animation: cores 25s ease infinite;
}

.apresentacao .container {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0;
}

.apresentacao-titulo {
    font-size: 3em;
    margin-bottom: 50px;
}

.apresentacao-caixatextos {
    width:45%;
    max-width: 400px;
    box-sizing: border-box;
}

.apresentacao-desenho {
    width: 45%;
}

.apresentacao-redes {
    width: 100%;
    display: flex;
}

.apresentacao-redes-lista {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.apresentacao-redes-lista-item {
    display: flex;
    align-items: center;
    margin: 1em;
}

.apresentacao-redes-lista i {
    font-size: 2em;
    margin: 0.2em;
}

.docIcon {
    width: 2em;
}

.apresentacao-redes-lista-item p {
    font-size: 0.7em;
}

@keyframes cores {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 930px) {
    .apresentacao {
        background-size: 400% 400%;
    }

    .apresentacao .container{
        justify-content: center;
    }

    .apresentacao-desenho {
        display: none;
    }

    .apresentacao-caixatextos {
        width: 100%;
        font-size: 0.8em;
        justify-self: flex-start;
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .apresentacao-redes-lista {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .apresentacao {
        background-size: 500% 500%;
    }

    .apresentacao-caixatextos {
        font-size: 0.7em;
    }
}