.apresentacao {
    background-image: var(--bg-apresentacao);
    background-size: 300% 300%;
    height: 92vh;
    font-size: 18px;
    animation: cores 25s ease infinite;
}

.apresentacao .container {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0;
}

.apresentacao-titulo {
    font-size: 3em;
    margin-bottom: 50px;
}

.apresentacao-caixatextos {
    width:45%;
    max-width: 400px;
    box-sizing: border-box;
}

.apresentacao-desenho {
    width: 45%;
}

@keyframes cores {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 930px) {
    .apresentacao .container{
        justify-content: center;
    }

    .apresentacao-desenho {
        display: none;
    }

    .apresentacao-caixatextos {
        width: 100%;
        font-size: 0.8em;
        justify-self: flex-start;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .apresentacao-caixatextos {
        font-size: 0.7em;
    }
}