:root {
    --azul: #0038FF;
    --bege: #767A6F;
    --branco: #FFFFFF;
    --cinza: #A7A7A7;
    --cinza-claro: #C6C4C4;
    --cinza-claro-hover: #747474;
    --cinza-tec: #1D1D1D;
    --cinza-2n: #444444;
    --roxo: #3B135D;
    --roxo-hover: #2F0F4B;
    --roxo-input: #53128b;
    --verde: #55C852;
    --vermelho: #FF0000;

    --bg-cabecalho: #292929;
    --bg-apresentacao: linear-gradient(45deg, #240324, #240324, #3d005c, #00ff401f, #061fff2a, #ff00002d, #430f55, #2e0d3f, #240324, #240324);


    --inter: "Inter", sans-serif;
}

body {
    font-family: var(--inter);
    color: var(--branco);
    background-color: #363636;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    border-radius: 35px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: var(--roxo);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 6% 3em 6%;
}

a {
    text-decoration: none;
    color: var(--branco);
}

h2 {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 1.2em;
}

section {
    border-bottom: 1.5px solid var(--branco);
    height: 100%;
}

.cards {
    background-color: var(--cinza-tec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 165px;
    height: 270px;
    border-radius: 10px;
    margin-bottom: 0.5em;
    transition: 0.3s;
}

.cards:hover {
    transform: scale(1.1);
}

.cards-texto {
    text-align: center;
    margin-top: 1.5em;
}

section:nth-child(2n+1) {
    background-color: var(--cinza-2n);
}

.botao-branco {
    text-align: center;
    border: 2px solid var(--roxo);
    background-color: var(--cinza-claro);
    color: var(--roxo);
    font-size: 0.9em;
    padding: 0.5em 2em;
    border-radius: 10px;
    margin: 5px;
}

.botao-branco:hover {
    background: var(--cinza-claro-hover);
    border-color: var(--roxo-hover);
    color: var(--roxo-hover);
}

.botao-roxo {
    text-align: center;
    border: 2px solid var(--roxo);
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 0.9em;
    padding: 0.5em 2em;
    border-radius: 10px;
    margin: 5px;
}

.botao-roxo:hover {
    background-color: var(--roxo-hover);
    border-color: var(--roxo-hover);
    color: var(--cinza-claro);
}

.botão-cinza {
    text-align: center;
    border: 2px solid var(--cinza-claro-hover);
    background-color: var(--cinza-claro-hover);
    color: var(--branco);
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    pointer-events: none; 
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 1.7em;
    }
}