header {
    background-color: var(--bg-cabecalho);
    border-bottom: 1.5px solid var(--branco);
}

.cabecalho {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
}

.cabecalho-titulo {
    font-size: 1.5em;
}

.cabecalho-navegacao-lista {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.cabecalho-links {
    list-style: none;
    color: var(--branco);
    margin: 10px;
}

.link {
    transition: 0.5s;
}

.links:hover{
    color: var(--cinza);
}

.cabecalho-links{
    font-size: 1em;
}

.icon {
    height: 1.35em;
    margin-right: 0.5em;
}

.cabecalhoMenuBotao {
    display: none;
}

@media screen and (max-width: 930px) {
    .cabecalho-titulo {
        font-size: 1.2em;
    }

    .cabecalhoMenuBotao {
        display: flex;
        font-size: 1em;
        padding: 1em;
        color: var(--branco);
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.3em;
    }

    .hamburger {
        border-top: 2px solid var(--branco);
        width: 20px;
    }

    .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    .cabecalho-navegacao-lista {
        display: block;
        visibility: hidden;
        flex-direction: column;
        text-align: center;
        position: absolute;
        justify-content: flex-start;
        width: 100%;
        top: 8vh;
        right: 100%;
        background-color: var(--cinza-tec);
        height: 92vh;
        transition: 0.6s;
        z-index: 1000;
        overflow-y: hidden;
    }
    .cabecalho-links{
        font-size: 1em;
        margin-top: 1.5em;
        padding-bottom: 1.8em;
        border-bottom: 1px solid var(--cinza);
    }

    #nav.active #menu {
        right: 0px;
        visibility: visible;
    }

    #nav.active .hamburger {
        border-top-color: transparent;
    }
    #nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}