header {
    background-color: var(--bg-cabecalho);
    border-bottom: 1.5px solid var(--branco);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
}

.cabecalho-titulo {
    font-size: 1.5em;
}

.cabecalho-navegacao-lista {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.cabecalho-links {
    list-style: none;
    color: var(--branco);
    margin: 10px;
}

.link {
    transition: 0.5s;
}

.links:hover{
    color: var(--cinza);
}

.cabecalho-redes .cabecalho-links{
    font-size: 1.5em;
}

.mailIcon {
    height: 1.35em;
}