.contato-texto {
    width: 100%;
}

.contato-texto-conteudo {
    margin-left: 0;
    margin-bottom: 1em;
    text-align: left;
}

.contato-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contato-label {
    margin-bottom: 0.5em;
}


.contato-input {
    font-family: var(--inter);
    border-radius: 5px;
    height: 2em;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-bottom: 1em;
    padding: 0.5em;
}

.contato-input::placeholder {
    color: var(--roxo-input);
}

.contato-input:focus {
    border-bottom: 4px solid var(--roxo-input);
}

.contato-textarea {
    height: 12em;
    resize: none;
}

.contato-botao {
    width: 30%;
}

@media screen and (max-width: 970px) {
    .contato-botao {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .contato-botao {
        width: 100%;
    }
}